@model Library_Automation.Entities.Model.Kitaplar

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <b>Updating a New Book</b>
            </div>
            <div class="ibox-body">

                @using (Html.BeginForm("Edit", "Kitaplar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <img src="@Model.KapakResmi" width="100" height="150" />
                    </div>

                    <div class="form-group">
                        <b>Photo :</b>
                        @Html.TextBoxFor(x => x.KapakResmi, new { @class = "form-control", type = "file" })
                    </div>

                    <div class="form-group">
                        <b>Book Genre :</b>
                        @Html.DropDownListFor(x => x.KitapTuruId, (SelectList)ViewBag.Liste, "Select One", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.KitapTuruId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Bar Code :</b>
                        @Html.TextBoxFor(x => x.BarkodNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BarkodNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Name of the Book :</b>
                        @Html.TextBoxFor(x => x.KitapAdi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.KitapAdi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Author :</b>
                        @Html.TextBoxFor(x => x.Yazari, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Yazari, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Publishing House</b>
                        @Html.TextBoxFor(x => x.YayinEvi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YayinEvi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Stock</b>
                        @Html.TextBoxFor(x => x.StokAdedi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.StokAdedi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Page Count</b>
                        @Html.TextBoxFor(x => x.SayfaSayisi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.SayfaSayisi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Added Date</b>
                        @Html.TextBoxFor(x => x.EklemeTarihi, new { @class = "form-control", type = "datetime-local", Value = Model.EklemeTarihi.ToString("yyyy-MM-dd HH:mm") })
                        @Html.ValidationMessageFor(x => x.EklemeTarihi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <b>Is Deleted?</b>
                        @Html.CheckBoxFor(x => x.SilindiMi)
                    </div>

                    <div class="form-group">
                        <b>Descrription</b>
                        @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

