@model Library_Automation.Entities.Model.Duyurular
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Announcements List
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped" id="tbl">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Title</td>
                            <td>Announcement</td>
                            <td>Description</td>
                            <td>Date</td>
                            <td>Operations</td>
                        </tr>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="form-group">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dataModal" onclick="Add()">
                        Add a new Announcement
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="dataModalLabel">Adding an Announcement</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data-form">
                    <div id="textSil">

                        <div class="form-group">
                            @Html.HiddenFor(a => a.Id, new { @class = "form-control", placeholder = "Id", id = "txtId", Value=0 })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Baslik, new { @class = "form-control", placeholder = "Title", id = "txtBaslik" })
                            @Html.ValidationMessageFor(x => x.Baslik, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Duyuru, new { @class = "form-control", placeholder = "Announcement", id = "txtDuyuru" })
                            @Html.ValidationMessageFor(x => x.Duyuru, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.TextAreaFor(a => a.Aciklama, new { @class = "form-control", placeholder = "Description", id = "txtAciklama" })
                            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(a => a.Tarih, new { @class = "form-control", type = "datetime-local", id = "txtTarih" })
                            @Html.ValidationMessageFor(x => x.Tarih, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/moment/min/moment.min.js"></script>
<script>
function Listele() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("DuyuruList")',
            success: function (data) {
                $('#tbl tbody').html('');
                $.each(data, function (index, item) {                 
                    var milisecond = parseInt(item.Tarih.substr(6));
                    var formattedDate = moment(milisecond).format('DD.MM.YYYY HH:mm:ss');
                    var row = '<tr><th>' + item.Id + '</th><td>'
                        + item.Baslik + '</td><td>'
                        + item.Duyuru + '</td><td>'
                        + item.Aciklama + '</td><td>'
                        + formattedDate + '</td><td>'
                        + '<a href= # class="btnDuzenle btn btn-warning btn-sm" data-id=' + item.Id + '><i class="fa fa-edit"></i></a> |'
                        + '<a href=Duyurular/Detail/ ' + item.Id + ' class="btn btn-info btn-sm"><i class="fa fa-info"></i></a> |'
                        + '<a href=Duyurular/Delete/ ' + item.Id + ' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a> |'
                        ' </td ></tr > ';
                    $('#tbl tbody').append(row);

                });
            },
            error: function(error){
            console.log(error);
            }

        })
    }

</script>
<script>
    $(document).ready(function () {
        Listele();
    })
</script>


<script>
    $(document).ready(function () {
        $('#data-form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                method: 'post',
                url: '@Url.Action("AddAnnouncement")',
                data: formData,
                success: function (result) {
                    if (result.success) {

                        Listele();
                        $('#dataModal').modal('hide');
                        alert(result.message);
                        Clear();
                    }
                    else {
                        $.each(result.errors, function (key, value) {

                            $('[data-valmsg-for="' + key + '"]').text(value[0]);
                            $('[data-valmsg-for="' + key + '"]').text('');

                        });

                    }
                }
            });
            
        });
    });
</script>

<script>
    $(document).on('click', '.btnDuzenle', function () {
        var Id = $(this).data('id');
        $('#dataModalLabel').html(Id + '   is No for Updating')
        $.ajax({
            url: '@Url.Action("GetAnnouncement")',
            type: 'get',
            dataType: 'json',
            data: { Id: Id },
            success: function (result) {
                $('#dataModal').modal('show');
                $('#txtId').val(result.Id);
                $('#txtBaslik').val(result.Baslik);
                $('#txtDuyuru').val(result.Duyuru);
                $('#txtAciklama').val(result.Aciklama);
                $('#txtTarih').val(result.Tarih);

            },
            error: function () {
                alert('An error occured.')
            }
        })
    })
</script>

<script>
    function Clear() {
        $('#data-form').trigger('reset');
        $('#dataModalLabel').html('Adding Announcement Page');
        $('#txtId').val('0');


    }
</script>

<script>
    function Add() {
        Clear();
    }
</script>