@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Library_Automation.Entities.Model.KitapTurleri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="/KitapTurleri/Index" method="get">
    <label style="font-weight:bold">Search Book Genre</label>
    @Html.TextBox("search", Request.QueryString["search"])
    <button type="submit">Search</button>
</form>

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                List of Book Genre
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Book Genre</th>
                            <th>Description</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.KitapId</th>
                                <td>@item.KitapTuru</td>
                                <td>@item.Aciklama</td>
                                <td><a href="/KitapTurleri/Edit/@item.KitapId/" class="btn btn-warning">Update</a></td>
                                <td><a href="/KitapTurleri/Delete/@item.KitapId/" class="btn btn-danger">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model, page => Url.Action("Index", "KitapTurleri", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions
                {
                    FunctionToTransformEachPageLink = (li, a) =>
                    {
                        a.AddCssClass("page-link");
                        li.InnerHtml = a.ToString();
                        return li;
                    }
                })

                <a href="/KitapTurleri/Add/" class="btn btn-success">Add New Genre</a>
            </div>
        </div>
    </div>
</div>
