@model List<Library_Automation.Entities.Model.Roller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                Role List
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <td>Roles</td>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@Html.DisplayFor(x => item.Id)</th>
                                <td>@Html.DisplayFor(x => item.Rol)</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                    <button class="btn btn-danger btn-sm"
                                            onclick="confirmDelete(@item.Id, '@item.Rol',)">
                                        Delete
                                    </button>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
                @Html.Partial("_DeleteConfirmationModal", "Are you sure you want to delete this book?")

                <div class="form-group">
                    @Html.ActionLink("New", "Add", null, new { @class = "btn btn-success" })

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDelete(roleId, roleName) {
            var form = document.getElementById("deleteForm");
            form.action = "/Roller/DeleteConfirmed/" + roleId;

            var message = `Are you sure you want to delete the role: <strong>${roleName}</strong>?`;
            document.getElementById("deleteModalBody").innerHTML = message;

            $('#confirmDeleteModal').modal('show');
        }
    </script>
}